{% extends 'base.html' %}

{% block title %} | Main Page{% endblock %}

{% block content %}
  
<div class ="card text-center">
    <div class ="card-body">
        <h1><strong>Welcome To MaHa</strong></h1>
          
<p>This is an Django polling app for <strong>System Analysis & Design</strong> project.</p>
<p>Developed by <strong><a href="https://github.com/EngRobot33">Hamed Khosravi</a></strong> & <strong><a href="https://github.com/mohammadalimojtahedsoleimani">Mohammadali Mojtahed Soleymani</strong></a></strong></p>

<br>
  
        <a class ="btn btn-dark" href ="{% url 'poll:index' %}">POLLS</a>
    </div>
</div>
{% endblock %}