{% extends "header.html" %}

{% block title %} | Login{% endblock %}

{% block content %}      

{% load crispy_forms_tags %}

<div class="container py-5">
  <h1 style="font-weight: bold;">Login</h1>
  <form method="POST">
    {% csrf_token %}
    {{ login_form|crispy }}
    <button class="btn btn-primary" type="submit">LOGIN</button>
  </form>
  <p class="text-center" style="font-weight: bold;">Don't have an account? <a href="{% url 'user:register' %}">Create an account</a>.</p>
</div>

{% endblock %}