{% extends "header.html" %}

{% block title %} | Register{% endblock %}

{% block content %} 

{% load crispy_forms_tags %}         

<!--Register--> 
<div class="container py-5">
	<h1 style="font-weight: bold;">Register</h1>
	<form method="POST">
		{% csrf_token %}
		{{register_form|crispy}}                
		<button class="btn btn-primary" type="submit">REGISTER</button>
	</form>
	<p class="text-center" style="font-weight: bold;">If you already have an account, <a href="{% url 'user:login' %}">login</a> instead.</p>
</div>

{% endblock %}